body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Limit the maximum width */
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

input {
    margin-bottom: 10px;
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em; /* Increase font size for better readability on mobile */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 100%; /* Make buttons full width */
    box-sizing: border-box;
    font-size: 1em; /* Increase font size for better readability on mobile */
}

button:hover {
    background-color: #0056b3;
}

#results, #total {
    margin-top: 20px;
    font-size: 1.5em;  /* Increase font size */
    color: #333;
}

.result-item {
    color: red;
    font-weight: bold;
}

.green-label {
    color: green;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        padding: 10px;
        font-size: 1em;
    }

    #results, #total {
        font-size: 1.2em;
    }
}
